html, 
body{
	font-family: 'Roboto', sans-serif;
	width:100%;
	height:100%;
	margin:0;
  overflow-x: hidden;
  color:#eee;
  background-color:#111111;
  cursor: context-menu;
}

a, 
a:focus, 
a:hover, 
a:visited{
	text-decoration:none;
  outline:0;
  color:#eee
}

a:hover{
  color:#bbb
}

p, 
.title{
  padding: 10px 20px;
  margin:0
}

h3{
  padding:3px;
  margin:0;
}

ul{
  margin:0 0 20px 0
}

#div_header{
  position:sticky;
  top:0;
  height:auto;
  background-color:black;
  display:flex;
  justify-content: space-evenly;
  padding:3px;
}

#div_picture{
  background-image: url("./pic.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  width:100%;
  padding-top:33.75%;

}

.content{
  display:grid;
  grid-template-columns: 7% 13% 60% 20%;
  grid-template-rows: max-content;
  grid-template-areas: ". title text ."
}

title{
  justify-self:left;
  padding:30px;
}

.text{
  background-color: #222222;
  padding:1%;
  text-align: justify;
  text-justify: inter-word;
}

#articles_container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

article{
	margin-left:5%;
	margin-right:5%;
	padding-bottom:15px;
	margin-top:0px;
  padding-top:20px;
  text-align:center;
}

article a{
  color:#eee;
}

article img, article iframe{
  width:90%;
  height:auto;
}
.element:float{
  opacity:80%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 3%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  text-align: center;
}
.modal img{
  max-height:80%;
  max-width:80%;
  padding: 40px;
  background-color:#777;
}
.download{
  position:relative;
  top:-60px;
}
img:hover{
  cursor:pointer;
}

#section_contact .text{
  text-align:center
}


@media only screen and (max-width: 1280px){
  .content{
    display:grid;
    grid-template-columns: 0% 0% 100% 0%;
  }
  
#articles_container{
  display:grid;
  grid-template-columns: 1fr;
}
}